PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/material_xchange?directConnection=true
JWT_SECRET=210705
JWT_EXPIRES_IN=1d
# MONGODB_URI= mongodb+srv://Akainu_user:Akainu1234@material-exchange-platf.ahheacd.mongodb.net/?appName=Material-Exchange-Platform